* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.map {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    margin-left: 20px;
    margin-right: 20px;
    overflow: auto;
    max-height: 80vh;
}

.viewport {
    width: 800px;
    height: 600px;
    overflow: auto;
    border: 3px solid black;
}

.tile {
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    color: transparent;
}

.road {
  width: 100%;
  height: 100%;
  background-image: url(Img/RoadTile_.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grass {
  width: 100%;
  height: 100%;
  background-image: url(Img/grass.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.water {
  width: 100%;
  height: 100%;
  background-image: url(Img/water.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}



.menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background: #222;
    color: white;
}

.topbar {
    margin: 10px 20px;
}

.hidden {
    display: none;
}

.editor {
    padding-top: 20px;
}

.hide {
  display: none;
}